/* add home page styles here */

#player-img{
    height: 90px;
    width: 90px;
}

.eliminated-goblin {
    
    
    border: 6px solid red;
}

.player {
    border: 5px solid green;
    margin: 9em auto;
}

.goblin-stats {
    display: flex;
    flex-direction: column;
    justify-content: right;
    border: 6px solid blue;
    padding: 2%;
    
}

.adventure-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}