/* add home page styles here */

#player-img{
    height: 90px;
    width: 90px;
}

.eliminated-goblin {
    
    justify-content: flex-start;
    align-items: flex-start;
    border: 6px solid red;
}

.player {
    border: 5px solid green;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column-reverse;
}